<div flex>
	<div class="md-banner">

	</div>

	<div class='md-padding' layout="row" layout-wrap>

        <md-card flex="100" flex-gt-sm="30" ng-repeat="plugin in plugins">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{plugin.name}}</span>
              <span class="md-subhead">Large</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>

	</div>

</div>